@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PP+Neue+Montreal:wght@400;500&display=swap');

:root {
  --grey-dark: rgba(67, 70, 73, 1);
  --dark-green: #2e3b32;
  --primary-dark-green: #3C4A41;
  --medium-green: #D6E0D3B2;
  --secondary-medium-purple: #a77bca;
  --primary-light-purple: #E2D4FE;
  --dark-purple: #453848;
  --purple: #946BB6;

  --container-width: calc(92px * 12 + 8px * 11);

  --font-primary: "PP Neue Montreal", Helvetica, sans-serif;
  --font-secondary: "Inter", Helvetica, sans-serif;

  --h1-size: 48px;
  --h2-size: 40px;
  --h3-size: 32px;
  --h4-size: 20px;
  --h5-size: 16px;
  --text-medium-size: 16px;
  --text-small-size: 14px;
  --text-tiny-size: 11px;

  --line-height-130: 130%;
  --line-height-120: 120%;
  --line-height-150: 150%;
  --line-height-140: 140%;

  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--font-primary);
  font-size: var(--text-small-size);
}

main{
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--line-height-130);
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--line-height-120);
}

h3 {
  font-size: var(--h3-size);
  line-height: var(--line-height-120);
}

h4 {
  font-size: var(--h4-size);
  line-height: var(--line-height-130);
}

h5 {
  font-size: var(--h5-size);
  line-height: var(--line-height-150);
}

.textMedium {
  font-family: var(--font-secondary);
  font-size: var(--text-medium-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
}

.textSmall {
  font-family: var(--font-secondary);
  font-size: var(--text-small-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-140);
}

.textTiny {
  font-family: var(--font-secondary);
  font-size: var(--text-tiny-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-120);
}

.linkMedium {
  font-family: var(--font-primary);
  font-size: var(--text-medium-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-120);
  transition: color 0.3s ease;
}

.linkMedium:hover svg {
  transform: translateX(4px);
  transition: transform 0.3s ease;
}

